target/
.git/
.gitignore
.classpath
.dockerignore
.env
.git
.gitattributes
.gitignore
.idea
.project
.settings
.toolstarget
*.jfif
*.jpeg
*.jpg
*.png
*.txt
docs/
etc/
examples/
LICENSE
README.md
docker-compose.override.yml
Dockerfile.*.txt
HELP.md
mvnw.cmd

